<div>
    <div class="card" ng-repeat="thread in $ctrl.threads.results track by thread.id">
        <div class="card-header">
            <a class="nav-link" ui-sref="thread({ threadId: thread.id })"> {{thread.title}}</a>

        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer">{{thread.publisherUsername || 'anonymous'}} <cite title="Source Title" am-time-ago="thread.publishedDate | amUtc"></cite></footer>
            </blockquote>
        </div>
    </div>

    <ul uib-pagination ng-change="$ctrl.pageChanged()" ng-model="$ctrl.currentPage" total-items="$ctrl.threads.totalCount" items-per-page="$ctrl.threads.pageSize"></ul>
</div>