<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
  <targets async="true">
    <target name="logfile" xsi:type="File"
            layout="[${level:uppercase=true}] ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffzzz} ${callsite:className=true:fileName=false:includeSourcePath=true:methodName=true} ${message}${exception:format=toString:maxInnerExceptionLevel=3}"
            fileName="${basedir}/Logs/${shortdate}.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
